
.anim {
  width: 100vw;
  height: 100vh;
  background-color: black;
}


.app-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* This will cover the entire viewport */
  overflow: hidden; /* Ensures no overflow if animations go outside the viewport */
  background-color: white;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* This will be beneath the content */
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}




/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  position: relative;  /* Added this */
}

.center-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 900px;
  position: absolute;  /* Added this */
  top: 50%;  /* Adjusted this */
  left: 50%;  /* Adjusted this */
  transform: translate(-50%, -50%);  /* Added this */
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

select, input{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



.button-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* Aligns its children to the far right */
}

button.submit {
  background-color: #007BFF;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}


button.submit:hover {
  background-color: #0056b3;
}

button.submit:active {
  background-color: #00408a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}



.token-input {
  border: 2px solid blue;  /* blue is just an example for highlighting */
  padding: 10px;
  margin-right: 10px;
  outline: none;
}

.token-input.error {
  border-color: red;
}




.token-prompt {
  margin-bottom: 15px; /* Add some space below the message */
  color: #333; /* Dark gray color */
  font-size: 18px; /* Slightly larger font */
  text-align: center; /* Center the text */
}

.token-help {
  margin-top: 10px; /* Add some space above the secondary message */
  font-size: 14px; /* Slightly smaller font */
  text-align: center; /* Center the text */
  color: #666; /* Lighter gray color */
}

.token-link {
  color: #007BFF; /* Match the button color */
  text-decoration: none; /* Remove default underline */
}

.token-link:hover {
  text-decoration: underline; /* Add underline on hover for better usability */
}

